.header {
  display: flex;
  justify-content: space-between;
  padding: 37px 100px;
  height: 10vh;
  align-items: center;
}

.links-header {
  display: flex;
  gap: 29px;
  height: 50%;
  a {
    align-items: center;
    font-size: 2rem;
    font-family: "Poppins";
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: var(--green);
    }
  }
}

.active {
  color: var(--green);
  text-decoration: underline !important;
  text-decoration-color: var(--purple) !important;
  text-underline-offset: 16px !important;
  text-decoration-style: 2px !important;
}
