.header {
  display: flex;
  justify-content: space-between;
  padding: 16px 50px;
  padding-right: 25px;
  height: 100px;
  width: 100vw;
  max-width: 1920px;
  align-items: start;
  position: sticky;
  top: 0px;

  .logo-text-frame {
    white-space: nowrap;
    font-size: 2rem;
    height: 100px;
    width: fit-content;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    background-clip: text;
    color: transparent;
    font-weight: 800;

    background-image: linear-gradient(
      10deg,
      var(--ligth-blue) 10%,
      var(--purple) 50%,
      var(--ligth-blue) 90%
    );
  }
}

.language-switcher {
  display: flex;
  margin: 0px 12px;
  align-items: center;

  gap: 4px;
  flex-direction: column;
  button {
    background-color: transparent;
    width: 100%;
    border-radius: 10px;
    padding: 4px;
    border: 1px solid var(--purple);
    font-size: 0.75rem;
  }

  @media screen and (max-width: 767px) {
    margin-right: 50px;
  }
}

.activeLang {
  border: 1px solid var(--green) !important;
}

.header-right-frame {
  display: flex;
  align-items: center;
}

.links-header {
  display: flex;
  gap: 12px;
  color: white;
  a {
    color: #5e85a1;
    align-items: center;
    font-size: 1.5rem;
    font-family: "Poppins";
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: var(--green);
      color: #006b6a;
    }
  }
}

.active {
  color: var(--green);
  text-decoration: underline !important;
  text-decoration-color: #006b6a !important;
  text-underline-offset: 16px !important;
  text-decoration-style: 2px !important;
}

.hamburger-menu-frame {
  display: none;
  right: 25px;
  margin: 0;
  top: 25px;
  position: absolute;
}

.hamburger-menu-frame *,
*::after,
*::before {
  box-sizing: border-box;
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.414);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap); //hamburger-gap
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin); //hamburger-margin
  right: var(--hamburger-margin); //hamburger-margin
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background-hm);
  box-shadow: 0 0 0 1px var(--foreground-hm);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width); //bar-width
  height: var(--bar-height); //bar-height
  background-color: var(--foreground-hm);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing); //animation-timing
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2); //bar-heihgt / -2
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2); //bar-heihgt/2
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;

  &:checked {
    opacity: 0;
    width: 0;
  }
}

.sidebar {
  transition: translate var(--animation-timing), opacity var(--animation-timing);
  translate: 200%;
  padding: 2rem 1rem;
  margin-top: calc((var(--hamburger-height) * 1 + var(--hamburger-gap) * 2));
  background-color: var(--dark-blue-BG);
  nav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    width: 100%;
  }
  a {
    color: var(--background-hm);
    text-decoration: none;
    font-size: 1rem;
  }
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
  opacity: 1;
}

.hamburger-menu:has(input:not(:checked)) + .sidebar {
  translate: 0;
  opacity: 0;
}

.logo {
  background: transparent;
  z-index: 11;
  position: sticky;
  top: 12px;
  width: 40px;
  color: #f1e3d7;
  font-size: 3rem;
  font-weight: 900;
  text-transform: uppercase;
  isolation: isolate;
}

#langFlag{
  width: 16px;
}

@media (min-width: 1970px) {
  .header {
    padding: 37px 0px;
    padding-right: 0px;
    .links-header {
      a {
        font-size: 2rem;
      }
    }
  }
}

@media (max-width: 1023px) {
  .hamburger-menu-frame {
    display: flex;
  }

  .hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.414);
    gap: var(--hamburger-gap); //hamburger-gap
    top: var(--hamburger-margin); //hamburger-margin
    right: var(--hamburger-margin); //hamburger-margin
  }

  .header {
    padding: 12px 50px;

    .logo-text-frame {
      font-size: 1.5rem;
    }
    .links-header {
      display: none;
    }
  }

  .links-header {
    a {
      font-size: 1.5rem;
    }
  }
}

@media (max-width: 767px) {
  .header {
    padding: 12px;

    .logo-text-frame {
      font-size: 0.75rem;
    }
  }
}

.go-up-frame {
  display: flex;
  justify-content: end;
  width: fit-content;
  max-width: 100%;
  position: fixed;
  right: 100px;
  bottom: 50px;
  img {
    background-color: var(--foreground-hm);
        border-radius: 50%;
  }
  img:hover {
    background-color: #006b6a;
        cursor: pointer;
  }

  @media screen and (min-width: 1440px) {
    bottom: 25px;
  }

  @media screen and (max-width: 1023px) {
    bottom: 25px;
    right: 12px;
  }

  @media screen and (max-width: 767px) {
    bottom: 25px;
  }
}


.translation{
  width: fit-content;
  height: fit-content;
  display: flex;
  white-space: nowrap;
  align-items: center;
  margin-right: 40px;
  gap: 10px;
  border-radius: 10px;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  background-color: #ebebf2;
  background-color: var(--foreground-hm);
  color: #000;
  border: 1px solid #006b6a;
  & img{
    width: 16px;
  }
  &:hover{
    background-color: #006b6a;
    color: #ebebf2;
    border: 1px solid #006b6a;
  }
}


