.header {
  display: flex;
  justify-content: space-between;
  padding: 37px 100px;
  height: 64px;
  width: 100vw;
  max-width: 100%;
  align-items: center;
  background-color: var(--dark-blue-BG);
  position: relative;

  .logo-text-frame {
    height: 100px;
    width: fit-content;
    // border: 1px solid white;
    padding: 0 1rem;
    // position: absolute;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    background-image: linear-gradient(
      10deg,
      var(--ligth-blue) 10%,
      var(--purple) 50%,
      var(--ligth-blue) 90%
    );

    // background-image: linear-gradient(170deg,
    // var(--ligth-blue) -10%,
    //  var(--purple) 50%,
    // var(--ligth-blue) 110%);

    background-clip: text;
    color: transparent;
    font-size: 4rem;
    font-weight: 800;
  }
}

.links-header {
  display: flex;
  gap: 29px;
  height: 50%;
  a {
    align-items: center;
    font-size: 2rem;
    font-family: "Poppins";
    font-weight: 400;
    text-decoration: none;
    cursor: pointer;
    &:hover {
      color: var(--green);
    }
  }
}

.active {
  color: var(--green);
  text-decoration: underline !important;
  text-decoration-color: var(--purple) !important;
  text-underline-offset: 16px !important;
  text-decoration-style: 2px !important;
}

.hamburger-menu-frame {
  right: 0;
  margin: 0;
  height: 100%;
  position: relative;
}

.hamburger-menu-frame *,
*::after,
*::before {
  box-sizing: border-box;
  // color: var(--text-color);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.414);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap); //hamburger-gap
  width: max-content;
  position: absolute;
  top: var(--hamburger-margin); //hamburger-margin
  right: var(--hamburger-margin); //hamburger-margin
  z-index: 2;
  cursor: pointer;
}

.hamburger-menu:has(input:checked) {
  --foreground-hm: white;
  --background-hm: var(--purple);
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid var(--background-hm);
  box-shadow: 0 0 0 1px var(--foreground-hm);
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width); //bar-width
  height: var(--bar-height); //bar-height
  background-color: var(--foreground-hm);
  border-radius: 9999px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing),
    background-color var(--animation-timing); //animation-timing
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(8px / -2); //bar-heihgt / -2
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(8px / 2); //bar-heihgt/2
}

.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;

  &:checked {
    opacity: 0;
    width: 0;
  }
}

.sidebar {
  //  position: absolute;
  transition: translate var(--animation-timing);
  translate: 200%;
  padding: 0.5rem 1rem;
  padding-top: calc((8px * 3 + 6px * 2) + 8px + 1rem);
  background-color: var(--foreground-hm);
  width: 19.5rem;
  // max-width: 10rem;
  min-height: 100vh;
  div {
    color: var(--background-hm);
  }
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}

@media screen and (max-width: 768px) {
  .header {
    display: flex;
    padding: 0;
    // height: max-content;
    .logo-text-frame {
      font-size: 1rem;
      // padding: 0;
      // top: 8px;
      // left: 8px;
    }
  }

  .hamburger-menu-frame {
    // display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
  }

  .hamburger-menu {
    --x-width: calc(var(--hamburger-height) * 1.414);
    gap: 8px; //hamburger-gap
    top: 8px; //hamburger-margin
    right: 8px; //hamburger-margin
  }
}
