<div class="header">
<a routerLink="/home">  <img class="logo" src="assets/img/logo.svg" alt="logo" />
</a> 
 <div class="header-right-frame">
    <button id="translationBtn" (click)="toggleLanguage(this.tempLang)" class="translation">English <img id="langFlag" src="assets/img/united-kingdom.png" alt="English"></button>
    <div class="links-header">
      <a
        *ngFor="let navLink of navLinks; let i = index"
        href="{{ navLink.href }}"
        [class.active]="i == selectedIndex"
        (click)="selectedIndex = i"
        >{{ navLink.text | translate }}
      </a>
    </div>
    <div class="hamburger-menu-frame">
      <label class="hamburger-menu">
        <input type="checkbox" />
      </label>
      <aside class="sidebar">
        <nav>
          <a
            *ngFor="let navLink of navLinks; let i = index"
            href="{{ navLink.href }}"
            [class.active]="i == selectedIndex"
            (click)="selectedIndex = i"
            >{{ navLink.text | translate }}
          </a>
        </nav>
      </aside>
    </div>
  </div>
</div>
<div class="go-up-frame">
  <a (click)="selectedIndex = -1" href="#hero"
    ><img src="assets/img/go-up.svg" alt="nach oben"
  /></a>
</div>
