<div [ngClass]="index > -1 && index%2 == 0 ? 'frame frame-right' : 'frame frame-left'">
  <img src="{{project.img}}" alt="" srcset="" />
  <div class="info">
    <span class="info-title">{{project.title}}</span>
    <span class="info-subtitle"
      > {{project.subtitle}}
    </span>
    <span class="info-text">
      {{project.text}}
    </span>
    <div class="info-btn-group">
      <button (click)="toProject(project.demo)" class="demo">Live Demo</button>
      <button (click)='toGithub()'  class="github">Github</button>
    </div>
  </div>
</div>
