<div 
  [ngClass]="
    index > -1 && index % 2 == 0 ? 'frame frame-right' : 'frame frame-left'
  "
 [attr.data-aos]=" index > -1 && index % 2 == 0 ? 'fade-right' : 'fade-left'"
  data-aos-duration="255"
  data-aos-delay="100"
>
  <img src="{{ project.img }}" alt="" srcset="" />
  <div class="info">
    <span class="info-title">{{ project.title }}</span>
    <span class="info-subtitle"> {{ project.subtitle }} </span>
    <span class="info-text">
      {{ project.text | translate }}
    </span>
    <div class="info-btn-group">
      <button (click)="toProject(project.demo)" class="demo">{{ 'portfolio.LIVE_DEMO' | translate}}</button>
      <button (click)="toGithub(project.git)" class="github">{{ 'portfolio.CODE' | translate}}</button>
    </div>
  </div>
</div>
