
*{
    color: black;
  }
  .container {
    scroll-margin-top: 100px;
    display: flex;
    flex-direction: column;
    width: 100vw;
    max-width: 100%;
    font-size: inherit;
    height: fit-content;
    min-height: calc(100vh - 313px);
    padding: 50px 100px;
    margin: 1px;
    margin-top: 0px;
    h1 {
      font-size: 1.75rem;
      margin-bottom: 16px;
    }
    h2 {
      font-size: 1.5rem;
      margin-top: 16px;
      margin-bottom: 8px;
    }
    h3{
      font-size: 1.17rem;
      margin-top: 8px;
      margin-bottom: 8px;
    }
    p {
      font-size: 1rem;
    }
  
    @media screen and (max-width: 1023px) {
      padding: 50px;
    }
  
    @media screen and (max-width: 767px) {
      padding: 25px;
    }
  }
  