app-hero {
  display: flex;
  width: 100vw;
  max-width: 100%;
  height: calc(100vh - 100px);
}

app-about {
  display: flex;
  width: 100vw;
  max-width: 100%;
  gap: 5%;
  padding: 5% 0%;
}

app-skills {
  position: relative;
  display: flex;
  width: 100vw;
  max-width: 100%;
  gap: 1.5rem;
  margin: 5% 0%;
  margin-top: 100px;
}

app-projects {
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100%;
  gap: 5%;
  padding: 5% 0%;
  margin-top: 100px;
}

.go-up-frame{
  display: flex;
  justify-content: end;
  width: 100vw;
  max-width: 100%;
  padding: 50px 100px;
}

@media screen and (max-width: 1023px) {
  .go-up-frame{
    padding: 50px;
  }
}

@media screen and (max-width: 767px) {
  .go-up-frame{
    padding: 25px;
  }
}