<div class="contact-section">
  <div class="headline">
    <div class="line3"></div>
    <span class="contact-headline">{{ 'contact.HEADLINE' | translate }}</span>
  </div>
  <div class="contact">
    <div class="contact-info">
      <span class="contact-info-headline">{{ 'contact.INFO_HEADLINE' | translate }}</span>
      <span class="contact-info-text"
        >{{ 'contact.INFO_TEXT' | translate }}</span
      >
      <div class="contact-info-subline">
        <span>{{ 'contact.INFO_SUBLINE' | translate }} </span>
        <a href="mailto:mzarkesh@gmx.de">{{ 'contact.INFO_LINK' | translate}}</a>
      </div>
    </div>
   <app-contact-form></app-contact-form>
  </div>
</div>
