app-header {
  position: fixed;
  top: 0;
  z-index: 30;
  width: 100vw;
  max-width: 100%;
  display: flex;
  justify-content: center;
}

app-main-site {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100vw;
  max-width: 100%;
  min-height: 100vh;
}

app-footer{
  background-color: #f5f8ff;
  border-top: 2px solid #172530;
  display: flex;
  align-items: center;
  flex-direction: column;
}