<div class="container">
  <h1>{{ 'imprint.HEADLINE' | translate }}</h1>

  <h2>{{ 'imprint.SUBTITLE' | translate }}</h2>
  <p>
    Mina Zarkesh<br />
    Gr&uuml;nspechtwiese 8<br />
    30657 Hannover
  </p>

  <h2>{{ 'imprint.CONTACT' | translate }}</h2>
  <p>
    {{ 'imprint.PHONE' | translate }}: 017657976000<br />
    {{ 'imprint.EMAIL' | translate }}: kontakt&commat;mina-zarkesh.de
  </p>

  <p>{{ 'imprint.SOURCE' | translate }} <a href="https://www.e-recht24.de">e-recht24.de</a></p>
</div>
