<div class="container">
  <h1>{{ 'imprint.HEADLINE' | translate }}</h1>

  <h2>{{ 'imprint.SUBTITLE' | translate }}</h2>
  <p>
    Mina Zarkesh<br />
    Gr&uuml;nspechtwiese 8<br />
    30657 Hannover
  </p>

  <h2>{{ 'imprint.CONTACT' | translate }}</h2>
  <p>
    {{ 'imprint.PHONE' | translate }}: 017657976000<br />
    {{ 'imprint.EMAIL' | translate }}: kontakt&commat;mina-zarkesh.de
  </p>
  <br>
  <h3>{{ 'imprint.MEDIA_SOURCE' | translate }}:</h3>
<p>{{ 'imprint.PROFILE_PIC' | translate }}: © FOTORAUM Hannover</p>
<p>Sharkie:</p>
<ul>
  <li>{{ 'imprint.SHARKIE_DESC' | translate }}: Developer Akademie GmbH</li>
  <li>
    <a href="https://pixabay.com/de/users/8268513-8268513/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=4949515">Hintergrundbild</a>: <a href="https://pixabay.com/de//?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=4949515">Pixabay</a>
  </li>
  <li>{{ 'imprint.SHARKIE_DESC2' | translate }}: www.soundcloud.com</li>
</ul>
<p>Icons:</p>
<ul>
  <li>
    <a href="https://www.flaticon.com/free-icons/uk-flag" title="uk flag icons">Uk flag icons: Freepik - Flaticon</a>
  </li>
  <li>
    <a href="https://www.flaticon.com/free-icons/german" title="german icons">German icons: GeekClick - Flaticon</a>
  </li>
  <li>
    <a href="https://www.flaticon.com/free-icons/speaker" title="speaker icons">Speaker icons: Freepik - Flaticon</a>
  </li>
  <li>
    <a href="https://www.flaticon.com/free-icons/mute" title="mute icons">Mute icons: HideMaru - Flaticon</a>
  </li>
  <li>
    <a href="https://de.freepik.com/icon/musik-note_461146#fromView=search&term=music+note&page=1&position=4&track=ais">Music note icon: Freepik</a>
  </li>
  <li>
    <a href="https://de.freepik.com/icon/schiene_10561384#fromView=search&term=music+note+mute&page=2&position=62&track=ais">Music note mute icon: amoghdesign</a>
  </li>
  <li>
    <a href="https://www.freepik.com/icon/screen-rotate_10057157">Screen rotate icons: khulqi Rosyid</a> 
  </li>
</ul>
<br>
<p>{{ 'imprint.SOURCE' | translate }} <a href="https://www.e-recht24.de">e-recht24.de</a></p>

</div>

<!-- Bilder und Grafiken:
Angaben der Quelle für verwendetes Bilder- und Grafikmaterial:
Eigene Bilder -->
