<div class="container">
  <h1>{{ 'imprint.HEADLINE' | translate }}</h1>

  <h2>{{ 'imprint.SUBTITLE' | translate }}</h2>
  <p>
    Mina Zarkesh<br />
    Gr&uuml;nspechtwiese 8<br />
    30657 Hannover
  </p>

  <h2>{{ 'imprint.CONTACT' | translate }}</h2>
  <p>
    {{ 'imprint.PHONE' | translate }}: 017657976000<br />
    {{ 'imprint.EMAIL' | translate }}: kontakt&commat;mina-zarkesh.de
  </p>
  <br>
  <h3>{{ 'imprint.MEDIA_SOURCE' | translate }}:</h3>
<p>{{ 'imprint.PROFILE_PIC' | translate }}: © FOTORAUM Hannover</p>
<p>Sharkie:</p>
<ul>
  <li>{{ 'imprint.SHARKIE_DESC' | translate }}: Developer Akademie GmbH</li>
  <li>{{ 'imprint.SHARKIE_DESC2' | translate }}: www.soundcloud.com</li>
</ul>
<p>Icons:</p>
<ul>
  <li>
    <a href="https://www.flaticon.com/free-icons/uk-flag" title="uk flag icons">{{ 'imprint.ICONS_DESC_UK' | translate }}</a>
  </li>
  <li>
    <a href="https://www.flaticon.com/free-icons/german" title="german icons">{{ 'imprint.ICONS_DESC_DE' | translate }}</a>
  </li>
</ul>
<br>
<p>{{ 'imprint.SOURCE' | translate }} <a href="https://www.e-recht24.de">e-recht24.de</a></p>

</div>

<!-- Bilder und Grafiken:
Angaben der Quelle für verwendetes Bilder- und Grafikmaterial:
Eigene Bilder -->
