<div class="hero-section">
    <div class="headline">
        <span class="iam">I am</span>
     <div class="headline-text">
        <span class="name">Mina Zarkesh</span>
        <span class="title">Frontend Developer</span>
     </div>
    </div>
    <button (click)="toContact()">Let's talk!</button>
    
  <div class="bottom-frame">
    <div class="icons">
        <div class="line1"></div>
        <a *ngFor="let icon of icons" href={{icon.link}} target="_blank"><img src="{{icon.img}}"></a>

    </div>
    <div class="cta"><span>Scroll down</span> <img src="assets/img/arrow-down-line.svg" alt="Pfeil"></div>  
    
  </div>
</div>
