<!-- <div class="hero-section">
  <div class="background-img">
    <img class="hero-bg bg-left" src="assets/img/hero-shadow-left.svg" alt="">
    <img class="hero-bg bg-right" src="assets/img/hero-shadow-right.svg" alt="">
  </div>
    <div class="headline">
        <span class="iam">I am</span>
     <div class="headline-text">
        <span class="name">Mina Zarkesh</span>
        <span class="title">Frontend Developer</span>
     </div>
    </div>
    <button (click)="toContact()">{{'hero.TALK' | translate}}</button>
    
  <div class="bottom-frame">
    <div class="icons">
        <div class="line1"></div>
        <a *ngFor="let icon of icons" href={{icon.link}} target="_blank"><img src="{{icon.img}}"></a>

    </div>
    <div class="cta"><span>{{ 'hero.SCROLL' | translate }}</span> <img src="assets/img/arrow-down-line.svg" alt="Pfeil"></div>  
    
  </div>
</div> -->


<div class="frame"></div>

<div class="img-frame">
  <div class="photo">
  </div>
  <div class="img-photo"></div>
</div>
