<div class="frame"></div>
<div class="name">Mina Zarkesh</div>
<div class="img-frame">
  <div class="photo"></div>
  <div class="img-photo"></div>
</div>
<div class="headline">
  <div class="headline-text-01">Frontend</div>
  <div class="headline-text-02">Developer</div>
</div>
<div class="icons-frame">
  <img class="icons-1" src="assets/img/javaScript.svg" alt="">
  <img class="icons-2" src="assets/img/angular.svg" alt="">
  <img class="icons-3" src="assets/img/firebase.svg" alt="">
  <img class="icons-4" src="assets/img/api.svg" alt="">
</div>
<div class="light-ball"></div>
