<div class="skill-section">
    <div class="icons">
        <div *ngFor="let icon of icons" class="icon">
          <img src="{{ icon.img }}" alt="" />
          <p>{{ icon.text }}</p>
        </div>
      </div>
      <!-- <div class="text-right">
        <div class="mySkills">
          <h2>My Skills</h2>
          <p>I have gained experience in building projects with various front end technologies and concepts.</p>
        </div>
        <div class="line-frame"> -->
          <!-- <hr class="line3"> -->
       <!-- </div> -->
      <!-- </div>  -->

      <div class="text-right">
        <div class="mySkills">
          <span>My Skills</span>
          <div class="line3"></div>
        </div>
        <span class="mySkills-text">I have gained experience in building projects with various front end technologies and concepts.</span>
      </div>
</div>
