<div class="skills-frame">
  <div class="icons">
    <div *ngFor="let icon of icons" class="icon">
      <img src="{{ icon.img }}" alt="" />
      <p>{{ icon.text }}</p>
    </div>
  </div>
  <div class="text-right">
    <div class="mySkills">
      <span>{{ 'skills.HEADLINE' | translate }}</span>
      <div class="line3"></div>
    </div>
    <span class="mySkills-text">
      {{ 'skills.SUBTITLE' | translate }}
    </span>
    <button  (click)="toContact()"> {{ 'skills.BUTTON' | translate }}</button>
  </div>
  
</div>

