<div class="about-frame">
    <div class="skills">
      <img class="skills-icon" src="assets/img/bulb-green.svg" />
      <h2 class="skills-title">Strategy & Direction</h2>
      <span class="skills-text"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.</span
      >
    </div>
    <div class="skills">
      <img class="skills-icon" src="assets/img/bulb-green.svg" />
      <h2 class="skills-title">Strategy & Direction</h2>
      <span class="skills-text"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.</span
      >
    </div>
    <div class="skills">
      <img class="skills-icon" src="assets/img/bulb-green.svg" />
      <h2 class="skills-title">Strategy & Direction</h2>
      <span class="skills-text"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.</span
      >
    </div>
    <div class="skills">
      <img class="skills-icon" src="assets/img/bulb-green.svg" />
      <h2 class="skills-title">Strategy & Direction</h2>
      <span class="skills-text"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse
        varius enim in eros elementum tristique.</span
      >
    </div>
  </div>
  