:root {
  --dark-blue-BG: #141d2f;
  --dark-blue-80: rgba(20, 29, 47, 0.8);
  --green: #70e61c;
  --ligth-blue: #1cdae6;
  --purple: #9747ff;
  --text-color: #ffffff;

  //Hamburger Menu
  --bar-width: 60px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --foreground-hm: var(--purple);
  --background-hm: white;
  --hamburger-margin: 8px;
  --animation-timing: 0.2s ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "Poppins";
  // background-color: var(--dark-blue-BG);
  color: var(--text-color);
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark-blue-BG);
}
