:root {
  --dark-blue-BG: #141d2f;
  --dark-blue-80: rgba(20, 29, 47, 0.8);
  --green: #70e61c;
  --ligth-blue: #1cdae6;
  --purple: #9747ff;
  --text-color: #ffffff;
  //Hamburger Menu
  --bar-width: 32px;
  --bar-height: 4px;
  --hamburger-gap: 4px;
  --foreground-hm: #5882AF;
  --background-hm: white;
  --hamburger-margin: -12px;
  --animation-timing: 0.2s ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

@font-face {
  font-family: "Poppins";
  src: url("assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Borel";
  src: url("assets/fonts/Borel/Borel-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style:italic;
}

* {
  font-family: "Poppins";
  // background-color: var(--dark-blue-BG);
  color: var(--text-color);
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
   background:#fff;
  // background: red;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
}

app-root{
  width: 100vw;
  max-width: 100%;
}

button{
  cursor: pointer;
}

@media screen and (min-width: 1440px) {
  body{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    // width: 1440px;
    justify-self: center;
  }
}


@media screen and (max-width: 768px) {
  body {
    margin: 0;
    overflow-x: hidden;
  }
}
