<div class="container">
  <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <input
      #name="ngModel"
      [(ngModel)]="contactData.name"
      type="text"
      id="name"
      name="name"
      placeholder="{{ 'contact.FORM_NAME' | translate }}"
      required
    />
    @if (!name.valid && name.touched) {
    <span class="hint">
      {{ "contact.FORM_NAME" | translate }}
      {{ "contact.FORM_MESSAGE_REQUIRED" | translate }}</span
    >
    }
    <input
      #email="ngModel"
      [(ngModel)]="contactData.email"
      type="email"
      id="email"
      name="email"
      placeholder="{{ 'contact.FORM_EMAIL' | translate }}"
      required
      pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
    />

    @if (!email.valid && email.touched) {
    <span class="hint">
      {{ "contact.FORM_EMAIL" | translate }}
      {{ "contact.FORM_MESSAGE_REQUIRED" | translate }} z.B.
      test&commat;email.de</span
    >
    }

    <textarea
      #message="ngModel"
      minlength="4"
      [(ngModel)]="contactData.message"
      id="message"
      name="message"
      placeholder="{{ 'contact.FORM_MESSGE' | translate }}"
      style="height: 200px"
      required
    ></textarea>
    @if (!message.valid && message.touched) {
    <span class="hint">
      {{ "contact.FORM_MESSGE" | translate }}
      {{ "contact.FORM_MESSAGE_REQUIRED" | translate }} min. 4 char</span
    >
    }
    <div class="privacy">
      <div class="privacy-check-frame">
        <div class="privacy-check">
          <input
            #privacy="ngModel"
            [(ngModel)]="checkboxState"
            type="checkbox"
            name="privacy"
            id="privacy"
            required
          />
          <span
            >{{ "contact.FORM_CHECKBOX_PART1" | translate
            }}<a routerLink="/privacypolicy">{{
              "contact.FORM_CHECKBOX_LINK" | translate
            }}</a>
            {{ "contact.FORM_CHECKBOX_PART2" | translate }}</span
          >
        </div>
        @if (!checkboxState) {
        <span class="privacy-text hint">{{
          "contact.FORM_UNCHECKED" | translate
        }}</span>
        } @else{
        <span class="privacy-text">{{
          "contact.FORM_CHECKED" | translate
        }}</span>
        }
      </div>
      <input
        [disabled]="checkValidation(contactForm)"
        type="submit"
        value="{{ 'contact.FORM_SUBMIT' | translate }}"
      />
    </div>
  </form>
</div>
