<div class="container">
    <form>
        <label for="name">First Name</label>
        <input type="text" id="name" name="name" placeholder="Your name...">

        <label for="email">Email</label>
        <input type="email" id="email" name="email" placeholder="Your email...">

        <label for="message">Message</label>
        <textarea id="message" name="message" placeholder="Your message..."></textarea>
        <input type="submit" value="Submit">

    </form>
</div>

<!-- <p>
    <mat-form-field appearance="fill">
      <mat-label>Fill form field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p> -->
  <!-- <p>
    <mat-form-field appearance="outline" ngSkipHydration>
      <mat-label>Outline form field</mat-label>
      <input matInput placeholder="Placeholder">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p> -->