<div class="about-frame">
  <div class="frame">
    <div class="line2"></div>
    <div class="photo"></div>
  </div>
  <div class="about-me">
    <h2>{{ 'about.HEADLINE' | translate }}</h2>
    <p>
      {{ 'about.SUBTITLE' | translate }}
    </p>
    <div class="info">
      <img src="assets/img/bulb-green.svg" alt="" />
      <p>
        {{ 'about.BULB' | translate }}
      </p>
    </div>
    <div class="info">
      <img src="assets/img/puzzle-green.svg" alt="" />
      <p>
        {{ 'about.PUZZLE' | translate }}
      </p>
    </div>
  </div>
  
</div>