.about-frame{
  display: flex;
  flex-direction: row;
  width: 100vw;
  max-width: 100%;
   gap: 1.5rem; 
  padding: 1.5rem 0; 
}

.info {
  display: flex;
  gap: 1.5rem;
}


.about-me {
  width: fit-content;
  flex-direction: column;
  padding: 1.5rem;
  padding-right: 100px;
  display: flex;
  gap: 2rem;

  h2{
    font-size: 4rem;
  }
}


.frame {
  display: flex;
  justify-content: end;
  align-items: center;
  width: 120%;
}


.line2{
  display: flex;
    flex: 3 1 0;
    height: 0px;
    margin-right: -1px;
    border: 2px solid var(--green);
}


.photo {
  margin: 0px;
  display: flex;
  width: 353px;
  height: 353px;
  background: url("../../../assets/img/hero-character-photo.png");
  background-position: center;
  background-size: cover;
  mask-image: radial-gradient(circle, black 50%, rgba(0, 0, 0, 1) 50%);
  border: 4px solid var(--green);
  border-radius: 50%;
}

@media screen and (max-width: 1023px) {
  .about-me{
    padding: 1rem;
    padding-right: 50px;
    gap: 1.5rem;
    h2{
      font-size: 3rem;
    }
  }
}
@media screen and (max-width: 767px) {

  .about-me{
    padding: 25px;
  }

  .about-frame{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    max-width: 100%;
     gap: 1.5rem; 
    padding: 1.5rem 0; 
  }

  .frame {
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 0.75;
  }

  .line2{
    display: none;
  }
}